/*
 * File: app/view/MainView.js
 *
 */
Ext.define('CD.view.MainView', {
    extend: 'Ext.container.Viewport',

    requires: [
        'Ext.ux.RowExpander',
        'CD.view.DetailPanel'
    ],

    id: 'mainView',
    layout: 'fit',

    initComponent: function() {
        var me = this;

        var cmbGroupingChoices = new Ext.form.field.ComboBox({
            queryMode: 'local',
            store: new Ext.data.ArrayStore({
                id: 0,
                fields: [
                    'entityColumn',  // numeric value is the key
                    'displayText'
                ],
                data: [['department', 'Department'], ['manager_id', 'Manager']]  // data is local
            }),
            valueField: 'entityColumn',
            fieldLabel: 'Group By',
            displayField: 'displayText',
            triggerAction: 'all',
            listeners: {
                select: function(combo, record, index) {
                    console.log("changed");
                    var store = Ext.getStore('EmployeeStore');
                    store.group(record[0].get('entityColumn'));
                }
            }
        });

        Ext.applyIf(me, {
            items: [
                {
                    xtype: 'panel',
                    itemId: 'mainPanel',
                    resizable: false,
                    layout: 'border',
                    collapsed: false,
                    manageHeight: false,
                    title: 'Employees',
                    dockedItems: [
                        {
                            xtype: 'toolbar',
                            dock: 'top',
                            itemId: 'mainToolbar',
                            items: [
                                {
                                    xtype: 'label'
                                },
                                {
                                    xtype: 'button',
                                    itemId: 'addButton',
                                    icon: '<%= asset_path 'extjs/add.png' %>',
                                    text: 'Add Employee'
                                },
                                cmbGroupingChoices
                            ]
                        }
                    ],
                    items: [
                        {
                            xtype: 'gridpanel',
                            flex: 1,
                            region: 'west',
                            split: true,
                            border: '2 2 2 2',
                            id: '',
                            itemId: 'gridPanel',
                            width: 150,
                            resizable: false,
                            bodyBorder: true,
                            forceFit: true,
                            store: 'EmployeeStore',

                            features:[Ext.create('Ext.grid.feature.Grouping', {
                                groupHeaderTpl: 'Department: {name} ({rows.length})'
                            })],

                            collapsible: false,
                            animCollapse: false,

                            columns: [
                                /*
                                {
                                    xtype: 'numbercolumn',
                                    dataIndex: 'id',
                                    text: 'ID',
                                    format: '0'
                                },
                                */
                                {
                                    xtype: 'gridcolumn',
                                    dataIndex: 'fname',
                                    text: 'First Name',
                                    editor: {
                                        xtype: 'textfield'
                                    }
                                },
                                {
                                    xtype: 'gridcolumn',
                                    dataIndex: 'lname',
                                    text: 'Last Name',
                                    editor: {
                                        xtype: 'textfield'
                                    }
                                },
                                {
                                    xtype: 'gridcolumn',
                                    dataIndex: 'title',
                                    text: 'Title',
                                    editor: {
                                        xtype: 'textfield'
                                    }
                                },
                                {
                                    xtype: 'gridcolumn',
                                    dataIndex: 'department',
                                    text: 'Dept',
                                    editor: {
                                        xtype: 'textfield'
                                    }
                                },
                                {
                                    xtype: 'datecolumn',
                                    dataIndex: 'created_at',
                                    text: 'Date',
                                    editor: {
                                        xtype: 'datefield'
                                    }
                                }
                                /*,
                                {
                                    xtype: 'booleancolumn',
                                    dataIndex: 'isFeatured',
                                    text: 'Is Featured',
                                    editor: {
                                        xtype: 'checkboxfield'
                                    }
                                }
                                */
                            ],
                            plugins: [
                                Ext.create('Ext.grid.plugin.RowEditing', {})
                                /*,
                                {
                                    ptype: 'rowexpander',
                                    rowBodyTpl : [
                                        '<p>Company:</p>'
                                    ]
                                }*/
                            ]
                        },
                        {
                            xtype: 'detailPanel',
                            flex: 1,
                            region: 'center',
                            split: true
                        }
                    ]
                }

            ]
        });

        me.callParent(arguments);
    }

});